
* {
    box-sizing: border-box;
}

body {
    background-image: url('loader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px;
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    /* margin-top: 50px; */
    box-shadow: 5px 10px 18px #464646;
    background: white;
    z-index: 2;
}

h1 {
    margin-top: 10px;
}

fieldset {
    border-style: none;
}

#input_container {
    width: 80%;
    margin: auto;
}

#length,
#width,
#depth {
    padding: 3px;
}


#cubic_ft,
#cubic_yd,
#total,
#waste,
#grandTotal {
    border-bottom: solid rgb(105, 105, 105); 
    margin: 5px auto;
    padding: 5px;
    width: 30%;
    display: none;
}

button {
    margin: 20px auto 0px;
    padding-left: 16px;
    padding-right: 16px;
    height: 2.2rem;
    background: rgb(33, 119, 218);
    border-style: none;
    color: white;
}


@media (min-width: 1024px) {
    form {
        width: 40%;
    }
}